@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

html, body {
    background-color: hsl(260, 100%, 95%);
}

p {
    margin: 8px 0;
}

figure {
    display: block;
}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid aqua;
    display: flex;
    justify-content: center;
    
}

blockquote {
    font-weight: bold;
    color: white;
    margin: 8px 0;
    font-weight: 600;
}

/* -------- GRID MOBILE (PADRÃO) -------- */
.grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    margin: auto;

    grid-template-columns: 1fr;
    grid-template-areas:
        "c1"
        "c2"
        "c3"
        "c4"
        "c5";
}

/* -------- TABLET (≥600px) -------- */
@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "c1 c1"
            "c2 c5"
            "c3 c4";
    }
}

/* -------- DESKTOP (≥900px) -------- */
@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "c1 c1 c2 c5"
            "c3 c4 c4 c5";
    }
}

/* -------- CARDS -------- */

.card {
    padding: 16px;
    border-radius: 16px;
    background-color: hsl(263, 55%, 52%);
    color: white;
    background-image: url("/imagens/pngtree-mangekyou-sharingan-obito-uchiha-png-image_8469293.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 5px 18px hsl(224, 10%, 45%);
}

.primeiro { grid-area: c1; }
.segundo  { 
    grid-area: c2; 
    background-color: hsl(217, 19%, 35%); 
}
.terceiro { 
    grid-area: c3; 
    background-color: white; 
    color: hsl(224, 10%, 45%);
}
.terceiro blockquote { color: hsl(224, 10%, 45%); }

.quarto { 
    grid-area: c4; 
    background-color: hsl(0, 0%, 7%);
}

.quinto { 
    grid-area: c5; 
    background-color: white; 
    color: hsl(224, 10%, 45%);
}

.quinto blockquote { color: hsl(224, 10%, 45%); }

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
