@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

html,
body {
    background-color: hsl(260, 100%, 95%);
}

p {
    margin: 8px;
}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid aqua;

}

blockquote {
    font-weight: bold;
    color: white;
    margin: 8px;

}


.container {
    display: flex;
    flex-wrap: wrap;

}

.fundo {
    background-size: cover;
}


.card1,
.card2,
.card3,
.card4,
.card5 {
    border: 1px solid black;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    text-align: left;
}

.card1 {
    background-image: url("/imagens/pngtree-mangekyou-sharingan-obito-uchiha-png-image_8469293.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    background-color: hsl(263, 55%, 52%);
    /* ainda pode ter cor */
    padding: 16px;
    border-radius: 8px;
    width: 600px;
    height: 300px;
    position: relative;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info1 {
    color: white;
}

.card1 h3 {
    color: white;
}

.card1 h4 {
    color: white;
}