@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    background-color: hsl(260, 100%, 95%);
}

p {
    margin: 8px 0;
}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid aqua;
}

blockquote {
    font-weight: bold;
    color: white;
    margin: 8px 0;
}

/* -------- GRID CORRIGIDO -------- */

.grid {
    display: grid;
    
    padding: 16px;
    gap: 28px;

    /* layout responsivo */

    grid-template-areas: 'primeiro segundo terceiro'
        'quarto quinto terceiro';
}

/* -------- CARDS -------- */

.card {
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    background-color: hsl(263, 55%, 52%);

    /* imagem de fundo */
    background-image: url("/imagens/pngtree-mangekyou-sharingan-obito-uchiha-png-image_8469293.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

.primeiro {
    grid-area: primeiro;
    width: 750px;
    height: 400px;
}

.segundo {
    grid-area: segundo;
    height: 400px;
    text-align: start;
    
}

.terceiro {
    grid-area: terceiro;
}

.quarto {
    grid-area: quarto;
}

.quinto {
    grid-area: quinto;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}